<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="StudentBean" class="com.seenu.Student">
	    <constructor-arg type="int" value="123"></constructor-arg>
		<constructor-arg type="String" value="seenu"></constructor-arg>
	
	</bean>

</beans>